a {
    color: black;
  
}

html, body {
    min-height: 100vh;
    max-width: 100vw;
  }

  .body {
    margin: 0;
    padding: 0;
    background-image: url('/bg_1.jpg');

  }

  .body-not-logged {
    background: white;
  }

  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    background-image: url('/bg_1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
  }
  
  .wrapper {
    flex: 1;
  }
  
  .footer {
    margin-top: "30px";
    padding: 10px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: orange;
  }
  

  .card {
      background-color: #fff;
      overflow: hidden;
      box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);

  }
  .card-selected {
    border: green solid 20px;
    border-radius: 20px;
   

  }

  .dark-card {
    background-color: rgba(0, 0, 0, 0.5); /* rgba(0, 0, 0, 0.5) represents black with 50% opacity */
    padding: 0px;
    border-radius: 10px;
    color: white;
  }

.custom-card-header {
    background-color: #8a2be2;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
  @font-face {
    font-family: 'HEADERFONT';
    src: local('HEADERFONT'),
         url('../fonts/NeueMetana-Bold.otf');
}

h1, h2, h3 {
    font-family: 'HEADERFONT';
    text-transform: uppercase;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
}


  button {
    background-color: #F27178;
    border-radius: 10px;
    border: none;
    padding: 5px;
    color: white;
    margin: 2px;
    transition: background-color 0.5s ease; 
  
  }
  
  button:active {
    background-color: #4caf50;
  }

  a {
    text-decoration: none;
  }

  .selected {
    background-color: green;
  }

  ul {
    text-align: center;


  }

  @media screen and (min-width: 750px) {

   ul {
      max-width: 50vw;
    }
  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.smaller-image {
  max-width: 200px; 
  max-height: 200px;
}


  .fixed-card {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    bottom: 300;
    max-height: 400px;
  }


.mt-4.d-flex .row {
  display: flex;
  flex-wrap: wrap;
}

.grid-container {
  width: auto;
  height: auto;
  
}

.grid-big-container {

  display: flex;
  padding: 20px;
  background-color:rgba(0, 0, 0, 0.1);

}


.img-fluid {
  height: 150px;
  width: 150px;
  overflow: hidden;
}

.smaller-image {
  height: auto;
  margin: 2px;
}

.container {
  margin: 0 auto;
  position: relative;
}

.square {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}



.index-bg {
  position: relative;
}

.index-bg:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/login-bg.jpg');
  background-size: cover;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .row-column-fix {
    flex-direction: column;
  }

  .column-fix {
    width: 100%;
  }
}