:root {
    --main-color: green;
    --main-color-hover: rgb(104, 117, 217, 0.2);
    --track-color: #F27178;
    --mark-color: pink;
  }
  
  .customSlider {
    max-width: 500px;
    margin: auto;
  }
  
  .customSlider-track {
    top: 15px;
    height: 10px;
    background: var(--track-color);
  }
  
  .customSlider-track.customSlider-track-0 {
    background: var(--main-color);
  }

  .customSlider-thumb {
    cursor: pointer;
    background: var(--main-color);
    width: 40px;
    height:40px;
    border-radius: 100%;
    outline: none;
  }
  
  .customSlider-thumb:hover {
    box-shadow: 0 0 0 8px var(--main-color-hover);
  }
